@model IEnumerable<Common.Data.TermDoc>

@{
    ViewData["Title"] = "Search Result";
}

<h1>Search</h1>

<table class="table table-striped table-bordered" id="searchResult">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.LineNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinePosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentPath)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LineNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LinePosition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentPath)
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<script>
    $(document).ready(function () {
        $('#searchResult').DataTable();
    });
</script>
